.tabs {
  margin-top: 15px;

  &-selectors {
    display: flex;
    justify-content: left;
    border-top-left-radius: 12px !important;
  }

  &-selector {
    font-weight: 400;
    padding: 10px 35px;
    border-bottom: none;
    cursor: pointer;
    transition: all 0.5s;
    backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.35);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0;

    &:first-of-type {
      border-top-left-radius: 12px !important;
    }


    &:last-of-type {
      border-top-right-radius: 12px !important;
    }

    &:hover {
      border-bottom: none;
    }

    &.--active {
      backdrop-filter: blur(7px) saturate(180%);
      background-color: rgba(17, 25, 40, 0.75);
      color: rgba(255, 255, 255, 1);
    }
  }

  &-outer {
    min-height: calc(100vh - 200px);
    border-top-left-radius: 0px;
  }

  &-inner {
    display: none;
    border-radius: 10px;
    padding: 30px;

    &.--active {
      display: block;
    }
  }
}